@charset "utf-8";

body {
    margin: 0 auto;
    height: auto;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.arrow {
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    border-radius: 50px;
}

.container {
    text-align: center;
}

h2 {
    display: inline-block;
    padding: 0.25em 0;
}

h2:after {
    content: "";
    display: block;
    height: 4px;
    background: -webkit-linear-gradient(to right, rgb(115, 211, 255), #b2ffb8);
    background: linear-gradient(to right, rgb(115, 211, 255), #b2ffb8);
}

i {
    padding-right: 5px;
}

.menu_btn {
    display: block;
    width: 65px;
    height: 65px;
    margin: 3px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
}

.menu_btn div {
    width: 60%;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: ease-in .25s;
}

.menu_btn div:nth-last-of-type(1) {
    transform: translate(-50%, -15px);
}

.menu_btn div:nth-last-of-type(3) {
    transform: translate(-50%, 15px);
}

.menu_btn.active {
    background-color: transparent;
}

.menu_btn.active div:nth-last-of-type(1) {
    transform: rotate(45deg) translate(-50%, 0);
    transform-origin: 0% 50%;
}

.menu_btn.active div:nth-last-of-type(2) {
    width: 80%;
    height: 80%;
    border: 1px solid black;
    background-color: transparent;
}

.menu_btn.active div:nth-last-of-type(3) {
    transform: rotate(-45deg) translate(-50%, 0);
    transform-origin: 0% 50%;
}

header {
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    z-index: 1;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s;
}

header.active {
    opacity: 1;
    visibility: visible;
}

.header_btn {
    color: black;
    cursor: pointer;
}

.header_content_fst {
    font-size: 20px;
}

.header_content_fst ul {
    display: flex;
    flex-direction: row;
}

.header_content_fst li {
    padding:0 10px ;
}

#top {
    height: 100vh;
    text-align: center;
    background-image: url("img/robert-keane-rlbG0p_nQOU-unsplash.jpg");
    background-size: cover;
}

.top_content_fst {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
    padding-top: 45vh;
    letter-spacing: 2px;
}

.top_content_fst h1, .top_content_fst h3 {
    font-family: 'Kaushan Script', cursive;
}

.top_content_fst h1 {
    font-size: 50px;
}

.about_content_fst {
    padding-bottom: 20px;
}

.about_content_scd {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.about_content_scd h3 {
    text-align: center;
    font-size: 1.5rem;
}

.about_content_scd_me {
    padding: 15px;
} 

.about_content_scd_me p {
    display: block;
    margin: 0 50px;
    font-size: 19px;
}

.about_content_scd_me span {
    font-weight: bolder;
}

.about_content_scd_me_img {
    width: 40%;
    border: solid rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    margin-bottom: 30px;
}

.about_content_scd_career {
    padding: 15px;
    background: linear-gradient(to right, hsla(199, 100%, 73%, 0.8), rgba(178, 255, 184, 0.8));
    border-radius: 58% 42% 45% 55% / 76% 63% 37% 24% ;
}

.about_content_scd_career h3 {
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 70px;
}

.about_content_scd_career p {
    display: block;
    padding: 0 40px;
    margin: 20px 60px 60px 60px;
    font-size: 18px;
}

.about_content_scd_career span {
    font-weight: bolder;
}

#skills {
    background-color: rgba(244, 245, 247, 0.6);
    padding-bottom: 50px;
}

.skills_content_scd {
    display: flex;
    justify-content: space-around;
    margin: 70px 20px;
}

.skills_content_scd_flex {
    display: flex;
    width: 20%;
    margin: 5px;
    padding: 50px 0;
    border: solid rgba(0, 0, 0, 0.5);
    border-width: thin;
    border-radius: 7px;
}

.skills_content_scd_flex p {
    display: block;
    margin: 0 auto;
    font-size: 25px;
    font-weight: bold;
}

.html, .css, .javascript, .wordpress, .nodejs, .python, .php, .ruby {
    transition: all 0.25s;
}

.html:hover {
    color: tomato;
    background-color: rgba(0, 0, 0, 0.7);
}

.css:hover {
    color: rgb(0, 89, 255);
    background-color: rgba(0, 0, 0, 0.7);
}

.javascript:hover {
    color: rgb(239,216,29);
    background-color: rgba(0, 0, 0, 0.7);
}

.wordpress:hover {
    color: rgb(0,155,203);
    background-color: rgba(0, 0, 0, 0.7);

}

.nodejs:hover {
    color: rgb(139,191,61);
    background-color: rgba(0, 0, 0, 0.7);
}

.python:hover {
    color: rgb(53,113,163);
    background-color: rgba(0, 0, 0, 0.7);
}

.php:hover {
    color: rgb(133,142,187);
    background-color: rgba(0, 0, 0, 0.7);
}

.ruby:hover {
    color: red;
    background-color: rgba(0, 0, 0, 0.7);
}

#servise {
    padding-bottom: 50px;
}

.servise_content_fst h4 {
    display: block;
    margin: 30px 50px;
}

.servise_content_scd {
    display: flex;
    justify-content: space-around;
}

.servise_content_scd_flex {
    width: 30%;
    margin: 20px;
    padding: 20px 0;
    border: solid rgba(0, 0, 0, 0.5);
    border-width: thin;
    border-radius: 15px;
}

.servise_content_scd_flex img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding: 15px 0;
}

.servise_content_scd_flex_message {
    margin: 5px 20px;
    font-size: 17px;
}

#portfolio {
    height: 70vh;
    background-color: rgba(127, 255, 212, 0.2);
}

.portfolio_content_scd {
    padding-top: 150px;
}

footer {
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

footer p {
    display: block;
    padding-top: 45px;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media (max-width : 1024px) {
    .about_content_scd {
        display: flex;
        flex-direction: column;
    }

    .about_content_scd_career {
        padding: 100px 0;
        margin: 40px 100px;
        background: linear-gradient(to right, hsla(199, 100%, 73%, 0.8), rgba(178, 255, 184, 0.8));
        border-radius: 58% 42% 45% 55% / 76% 63% 37% 24% ;
    }
    
    .about_content_scd_career h3 {
        display: inline-block;
        font-size: 1.5rem;
        margin-bottom: 50px;
    }
    
    .about_content_scd_career p {
        display: block;
        margin-bottom: 30px;
        font-size: 18px;
    }

    .servise_content_fst h4 {
        display: block;
        margin: 30px 50px;
    }
    
    .servise_content_scd {
        display: flex;
        justify-content: space-around;
    }
    
    .servise_content_scd_flex {
        width: 30%;
        margin: 20px;
        padding: 20px 0;
        border: solid rgba(0, 0, 0, 0.5);
        border-width: thin;
        border-radius: 15px;
    }
    
    .servise_content_scd_flex img {
        display: block;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        padding: 15px 0;
    }
    
    .servise_content_scd_flex_message {
        margin: 5px 20px;
        font-size: 15px;
    }
}

@media (max-width : 599px) {
    .menu_btn.active div:nth-last-of-type(1) {
        transform: rotate(45deg) translate(-50%, 0);
        transform-origin: 0% 50%;
        background-color: white;
    }
    
    .menu_btn.active div:nth-last-of-type(2) {
        width: 80%;
        height: 80%;
        border: 1px solid white;
        background-color: transparent;
    }
    
    .menu_btn.active div:nth-last-of-type(3) {
        transform: rotate(-45deg) translate(-50%, 0);
        transform-origin: 0% 50%;
        background-color: white;

    }

    header {
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transition: all 0.35s;
    }
    
    header.active {
        opacity: 1;
        visibility: visible;
    }
    
    .header_btn {
        color: black;
        cursor: pointer;
    }
    
    .header_content_fst {
        font-size: 20px;
    }
    
    .header_content_fst ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 100px; 
    }
    
    .header_content_fst li {
        width: 50%;
        margin:50px auto;
        padding: 10px;
        font-weight: bold;
        color: white;
        border: 1px solid transparent;
        transition: all 0.3s;
    }

    .header_content_fst li:hover {
        color: hsla(199, 100%, 73%, 0.8);
        border: 1px solid hsla(199, 100%, 73%, 0.8);
    }

    .about_content_scd {
        display: flex;
        flex-direction: column;
    }

    .about_content_scd_career {
        padding: 5px;
        margin: 40px 0;
        background: linear-gradient(to right, hsla(199, 100%, 73%, 0.8), rgba(178, 255, 184, 0.8));
        border-radius: 58% 42% 45% 55% / 76% 63% 37% 24%;
    }
    
    .about_content_scd_career h3 {
        display: inline-block;
        font-size: 1.5rem;
        margin-bottom: 50px;
    }
    
    .about_content_scd_career p {
        display: block;
        margin-bottom: 30px;
        font-size: 18px;
    }

    .skills_content_scd {
        display: flex;
        flex-wrap: wrap;
        margin: 70px 20px;
    }

    .skills_content_scd_flex {
        display: flex;
        width: 40%;
        margin: 10px;
        padding: 50px 0;
        border: solid rgba(0, 0, 0, 0.5);
        border-width: thin;
        border-radius: 7px;
    }

    .skills_content_scd_flex p {
        display: block;
        margin: 0 auto;
        font-size: 20px;
        font-weight: bold;
    }

    .servise_content_scd {
        display: flex;
        flex-wrap: wrap;
    }
    
    .servise_content_scd_flex {
        width: 50%;
        margin: 20px;
        padding: 10px 50px;
        border: solid rgba(0, 0, 0, 0.5);
        border-width: thin;
        border-radius: 15px;
    }

    .servise_content_fst h3 {
        display: block;
        width: 220px;
        margin: 0 auto;
    }

    .servise_content_fst h4 {
        display: block;
        margin: 30px 50px;
        padding: 10px 50px;
    }
}
